<body>  
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
    </div>
</body>
<!-- <body>  
  <div class="top-menu">
    <button mat-button (click)="drawer.toggle()">
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>  
    <giftly-find-menu-event></giftly-find-menu-event>        
  </div>
  <mat-drawer-container class="mat-drawer-container" [hasBackdrop]="false">
    <mat-drawer #drawer mode="push" [opened]="true">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</body>
   -->
