$color-menu: #4DDCD6;
$color-main-background: white;
$color-menu-text: white;

.start-img{
    height: 200px;
    width: auto;
}

.top-menu{
    z-index: 99;
	position: fixed;
    top: 0%;
    background-color: $color-menu;
    width: 100vw;
    min-height: 1cm;
    color: $color-menu-text;
}

mat-drawer-container{
    min-height: 100vh;
}

.container, mat-drawer-container {
    margin-top: 1cm;
    overflow: hidden;
    scroll-behavior: unset;
}

.drawer-content {
    overflow-y: auto;
  
    overflow: auto;
    overscroll-behavior-y: contain;
}
