<!-- <header> -->
  <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container"> -->      
  
        <ul class="navbar-nav flex-grow">
          <giftly-find-menu-event></giftly-find-menu-event> 
          <li class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }" >
            <a class="nav-link text-dark" routerLink="/home">Home</a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']"  *ngIf="isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="/update-profile">Update Profile</a>
          </li> -->
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="events-dashboard">Your Events</a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="new-event">New Event</a>            
          </li> -->
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="find-event">Find Event</a>
          </li> -->
          <li class="nav-item" [routerLinkActive]="['link-active']"  *ngIf="!isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']"  *ngIf="!isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="/register">Register</a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']"  *ngIf="isUserLoggedIn">
            <a class="nav-item nav-link" routerLink="/logout">Logout</a>
          </li> -->
          <span><mat-icon routerLink="/new-event" *ngIf="isUserLoggedIn">add</mat-icon></span>
          <giftly-account-menu *ngIf="isUserLoggedIn"></giftly-account-menu>
        </ul>
    <!-- </div>
  </nav> -->
<!-- </header> -->
