$color-menu: #4DDCD6;
$color-main-background: white;
$color-menu-text: white;

/* Global Styles */
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(//db.onlinewebfonts.com/c/74e9b16286eecda22e2b1d41b1a5ab77?family=Brain+Flower);
//@font-face {font-family: "Brain Flower"; src: url("//db.onlinewebfonts.com/t/74e9b16286eecda22e2b1d41b1a5ab77.eot"); src: url("//db.onlinewebfonts.com/t/74e9b16286eecda22e2b1d41b1a5ab77.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/74e9b16286eecda22e2b1d41b1a5ab77.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/74e9b16286eecda22e2b1d41b1a5ab77.woff") format("woff"), url("//db.onlinewebfonts.com/t/74e9b16286eecda22e2b1d41b1a5ab77.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/74e9b16286eecda22e2b1d41b1a5ab77.svg#Brain Flower") format("svg"); }
* {
  // font-family:'Brain Flower', 'Comic Sans MS', serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  // overflow: hidden;
}

body {
  min-height: 100vh;
}

.mat-drawer.mat-drawer-push, .mat-drawer-side, .mat-drawer-inner-container {
  background-color: $color-menu;
  min-height: 100vh;
}
.mat-drawer-inner-container{
  background-color: $color-menu;
}

body {
  margin: 0;
}

.mat-drawer-content{
  padding-left: 20px;
}
.mat-drawer-container {
  background-color: $color-main-background;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  //font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a:hover {
  opacity: 0.8;
}

.giftly-form-field {
  width: 1500px;
}